<div class="sidebar">
  <div class="logo-details">
    <div class="envision-logo">
      <img alt="logo" src="https://ipfs.unbrid.com/envision/envision-logo.png" (click)="goToLogin()" />
    </div>
  </div>
  <ul class="nav-links">
    <li>
      <a routerLink="/home">
        <i class='bx bx-home'></i>
        <span class="link_name">Home</span>
      </a>
    </li>
    <!-- <li>
      <div class="icon-link">
        <a href="#">
          <i class='bx bx-bulb'></i>
          <span class="link_name">Solutions</span>
        </a>
        <i class='bx bxs-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Solutions</a></li>
        <li><a href="#">Payments API</a></li>
        <li><a href="#">Accounts API</a></li>
        <li><a href="#">Finance API</a></li>
      </ul>
    </li>
    <li>
      <div class="icon-link">
        <a href="#">
          <i class='bx bx-news'></i>
          <span class="link_name">Posts</span>
        </a>
        <i class='bx bxs-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Posts</a></li>
        <li><a href="#">Recent</a></li>
        <li><a href="#">Trending</a></li>
        <li><a href="#">Most Visited</a></li>
      </ul>
    </li>
     <li>
      <div class="icon-link">
        <a href="#">
          <i class='bx bx-file-find'></i>
          <span class="link_name">Insights</span>
        </a>
        <i class='bx bxs-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Insights</a></li>
        <li><a href="#">Money Movement</a></li>
        <li><a href="#">Enterprise Spotlight</a></li>
        <li><a href="#">Financial Burnout</a></li>
      </ul>
    </li> -->
    <li>
      <a href="#">
        <i class='bx bx-bar-chart'></i>
        <span class="link_name">Fierce Exchange</span>
      </a>
    </li>
    <li>
      <a href="https://app.unbrid.com" target="_blank">
        <i class='bx bx-compass'></i>
        <span class="link_name">Team Flow</span>
      </a>
    </li>
    <li>
      <a href="https://app.unbrid.com" target="_blank">
        <i class='bx bx-compass'></i>
        <span class="link_name">Social</span>
      </a>
    </li>
    <li>
      <a href="https://app.unbrid.com" target="_blank">
        <i class='bx bx-compass'></i>
        <span class="link_name">RWA</span>
      </a>
    </li>

    <!-- ========== SUBCATEGORÍAS DINÁMICAS ========== -->
    <ng-container *ngIf="isHomePage && activeCategory && activeCategory.children && activeCategory.children.length > 0">

      <!-- ng-template para renderizado recursivo del árbol -->
      <ng-template #categoryTree let-nodes="nodes" let-depth="depth">
        <li *ngFor="let node of nodes" class="subcategory-item"
          [class.has-children]="node.children && node.children.length > 0" 
          [class.expanded]="isExpanded(node.id)"
          [class.selected]="isSelected(node.id)"
          [attr.data-depth]="depth">

          <div class="subcategory-row" (click)="toggleExpand(node.id, $event)">
            <div class="subcategory-label">
              <i [class]="node.icon || 'bx bx-chevron-right'" class="subcategory-icon"></i>
              <span class="link_name">{{ node.name }}</span>
            </div>
            <i *ngIf="node.children && node.children.length > 0" class="bx subcategory-chevron"
              [class.bx-chevron-down]="isExpanded(node.id)" [class.bx-chevron-right]="!isExpanded(node.id)">
            </i>
          </div>

          <!-- Nodos hijos (recursivo via ng-container) -->
          <ul class="subcategory-children" *ngIf="node.children && node.children.length > 0 && isExpanded(node.id)">
            <ng-container *ngTemplateOutlet="categoryTree; context: { nodes: node.children, depth: depth + 1 }">
            </ng-container>
          </ul>
        </li>
      </ng-template>

      <!-- Cabecera de la sección -->
      <li class="subcategory-header">
        <div class="subcategory-header-content">
          <i [class]="activeCategory.icon || 'bx bx-category'"></i>
          <span class="link_name">{{ activeCategory.name }}</span>
        </div>
      </li>

      <!-- Renderizar el árbol de subcategorías -->
      <ng-container *ngTemplateOutlet="categoryTree; context: { nodes: activeCategory.children, depth: 1 }">
      </ng-container>

    </ng-container>
    <!-- ========== FIN SUBCATEGORÍAS ========== -->

    <li *ngIf="isAuthenticated">
      <a [routerLink]="['/', username]">
        <i class='bx bx-cog'></i>
        <span class="link_name">Profile</span>
      </a>
    </li>
    <!-- <li>
      <a href="#">
        <i class='bx bx-cog'></i>
        <span class="link_name">Ranks</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Setting</a></li>
      </ul>
    </li> -->
    <!-- <li>
      <a href="#">
        <i class='bx bx-cog'></i>
        <span class="link_name">DAO</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Setting</a></li>
      </ul>
    </li> -->
    <li class="balance-container" *ngIf="walletConnected || userAddress">
      <div class="balance-content" routerLink="/balance-activity" style="cursor: pointer;">
        <div class="balance-header">
          <i class='bx bx-wallet'></i>
          <span class="balance-label">Balance</span>
        </div>
        <span class="balance-amount">{{ unbridBalance | number:'1.2-2' }} Fierce</span>
      </div>
    </li>
    <li>
      <button class="btn-create btn-primary" (click)="openCreatePrediction()">crear</button>
    </li>
    <li>
      <div class="profile-details" *ngIf="walletConnected || userAddress">
        <div class="profile-content">
          <img src="{{userProfileImage}}" alt="profileImg">
        </div>
        <div class="name-job">
          <div class="profile_name">{{ username }}</div>
          <div class="job">{{ truncateAddress(userAddress) }}</div>
        </div>
        <i class='bx bx-log-out' (click)="disconnectWallet()" style="cursor: pointer;"></i>
      </div>
    </li>
  </ul>
</div>