@use '../../../styles/variables' as *;

.resolution-content {
  line-height: 1.6;
}

.resolution-content h3 {
  margin-bottom: 16px;
  color: $text-primary;
}

.resolution-content p {
  color: $text-muted;
}
