@if(!signing || isProcessingLogin){
<div class="loading"></div>
}@else{
<div class="app-wrapper">
  <app-sidebar-menu></app-sidebar-menu>
  <app-header [isHomePage]="isHomePage" (tabChange)="onTabChange($event)"></app-header>
  <div class="container" [class.full-width]="!showNewsSidebar">
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <div class="sidebar-content" *ngIf="showNewsSidebar">
      <app-price-token></app-price-token>
      <app-top-burners></app-top-burners>
    </div>
  </div>
  <app-toast></app-toast>
</div>
}