@use '../styles/variables' as *;

.app-wrapper {
  max-width: $container-max-width;
  margin: 0 auto;
  position: relative;
  background: $background-color;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: calc(100% - 350px) 350px;
  gap: 0;
  margin-left: $sidebar-width;
  margin-top: $header-height;
  transition: all 0.5s ease;
  min-height: calc(100vh - $header-height);
  background: $background-color;
  max-width: calc($container-max-width - $sidebar-width);
}

.main-content {
  //min-height: calc(100vh - $header-height);
  box-sizing: border-box;
  border-right: 1px solid $border-color;
  min-height: 100vh;
}

/* Cuando el sidebar está colapsado */
:global(.sidebar-collapsed) .container {
  margin-left: $sidebar-collapsed-width;
}

@media (max-width: 1400px) {
  .app-wrapper {
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .container {
    margin-left: $sidebar-collapsed-width;
    margin-top: $header-height;
    grid-template-columns: 1fr;
  }
  
  :global(.sidebar-collapsed) .container {
    margin-left: $sidebar-collapsed-width;
  }
}

@media (max-width: 420px) {
  .container {
    margin-left: $sidebar-collapsed-width;
    padding: 15px;
    margin-top: $header-height;
  }
  
  :global(.sidebar-collapsed) .container {
    margin-left: $sidebar-collapsed-width;
  }
}
