<div class="dialog-content">
  <button class="close-button" (click)="closeDialog()">&times;</button>
  <div class="dialog-header">
    <img src="https://via.placeholder.com/50x50/00FF00/000000?text=%E2%9C%93" alt="Verified User" class="verified-icon">
    <h2>Upgrade to Premium</h2>
  </div>
  <section class="rwa-types">
    <div class="totems-grid">
        <div class="totem-card aprendices">
          <div class="totem-image">
            <img src="https://ipfs.unbrid.com/landings/rwa/apprentice.webp" alt="Fox Totem" class="animal-avatar">
          </div>
          <div class="totem-info">
            <h3 class="totem-category apprendice">APRENTICE</h3>
            <div class="price">
              <span class="amount">2</span>
              <span class="currency">USDT / month</span>
            </div>
            <div class="participation-power">
              <span class="power-label">Ownership Power</span>
              <div class="power-value">
                <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="Lightning" class="lightning-icon">
                <span class="multiplier">1x</span>
              </div>
            </div>
            <button class="buy-button">MINT NOW</button>
            <div class="earnings-limit">
              <span class="limit-text">INFINITE REWARDS</span>
              <img src="https://ipfs.unbrid.com/landings/rwa/infinity.webp" alt="Infinity" class="infinity-icon">
            </div>
            <div class="benefits">
              <div class="benefit">
                <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="Character Icon" class="benefit-icon">
                <span>Wolf Character in Fierce Guardians Game</span>
                <i class="fas fa-info-circle info-icon" (click)="openCharacterModal('Wolf Character in Fierce Guardians Game')"></i>
              </div>
              <div class="benefit">
                <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="UPN Icon" class="benefit-icon">
                <span>UPN Rewards</span>
                <i class="fas fa-info-circle info-icon"></i>
              </div>
            </div>
          </div>
        </div>

      <div class="totem-card misticos">
        <div class="totem-image">
          <img src="https://ipfs.unbrid.com/landings/rwa/guardian.webp" alt="Panther Totem" class="animal-avatar">
        </div>
        <div class="totem-info">
          <h3 class="totem-category guardian">GUARDIAN</h3>
          <div class="price">
            <span class="amount">10</span>
            <span class="currency">USDT / month</span>
          </div>
          <div class="participation-power">
            <span class="power-label">Ownership Power</span>
            <div class="power-value">
              <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="Lightning" class="lightning-icon">
              <span class="multiplier">5x</span>
            </div>
          </div>
          <button class="buy-button">MINT NOW</button>
          <div class="earnings-limit">
            <span class="limit-text">INFINITE REWARDS</span>
            <img src="https://ipfs.unbrid.com/landings/rwa/infinity.webp" alt="Infinity" class="infinity-icon">
          </div>
          <div class="benefits">
            <p>Everything in APPRENTICE</p>
            <div class="benefit">
              <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="Cashback Icon" class="benefit-icon">
              <span>Cashback in Fierce token for prediction losses</span>
            </div>
            <div class="benefit">
              <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="Withdrawal Icon" class="benefit-icon">
              <span>2 withdrawals in the exchange</span>
            </div>
            <div class="benefit">
              <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="Character Icon" class="benefit-icon">
              <span>Alpha Character in Fierce Guardians Game</span>
              <i class="fas fa-info-circle info-icon" (click)="openCharacterModal('Alpha Character in Fierce Guardians Game')"></i>
            </div>
            <div class="benefit">
              <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="Social Icon" class="benefit-icon">
              <span>Social Network Functions Enabled</span>
            </div>
          </div>
        </div>
      </div>

      <div class="totem-card guardianes">
        <div class="totem-image">
          <img src="https://ipfs.unbrid.com/landings/rwa/sage.webp" alt="Owl Totem" class="animal-avatar">
        </div>
        <div class="totem-info">
          <h3 class="totem-category sage">SAGE</h3>
          <div class="price">
            <span class="amount">20</span>
            <span class="currency">USDT / month</span>
          </div>
          <div class="participation-power">
            <span class="power-label">Ownership Power</span>
            <div class="power-value">
              <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="Lightning" class="lightning-icon">
              <span class="multiplier">10x</span>
            </div>
          </div>
          <button class="buy-button">MINT NOW</button>
          <div class="earnings-limit">
            <span class="limit-text">INFINITE REWARDS</span>
            <img src="https://ipfs.unbrid.com/landings/rwa/infinity.webp" alt="Infinity" class="infinity-icon">
          </div>
          <div class="benefits">
            <p>Everything in GUARDIANS</p>
            <div class="benefit">
              <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="Withdrawal Icon" class="benefit-icon">
              <span>3 monthly withdrawals in the exchange</span>
            </div>
            <div class="benefit">
              <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="Character Icon" class="benefit-icon">
              <span>Beta Character in Fierce Guardians Game</span>
              <i class="fas fa-info-circle info-icon" (click)="openCharacterModal('Beta Character in Fierce Guardians Game')"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="totem-card sabios">
        <div class="totem-image">
          <img src="https://ipfs.unbrid.com/landings/rwa/mystic.webp" alt="Dragon Totem" class="animal-avatar">
        </div>
        <div class="totem-info">
          <h3 class="totem-category mystic">MYSTIC</h3>
          <div class="price">
            <span class="amount">50</span>
            <span class="currency">USDT / month</span>
          </div>
          <div class="participation-power">
            <span class="power-label">Ownership Power</span>
            <div class="power-value">
              <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="Lightning" class="lightning-icon">
              <span class="multiplier">25x</span>
            </div>
          </div>
          <button class="buy-button">MINT NOW</button>
          <div class="earnings-limit">
            <span class="limit-text">INFINITE REWARDS</span>
            <img src="https://ipfs.unbrid.com/landings/rwa/infinity.webp" alt="Infinity" class="infinity-icon">
          </div>
          <div class="benefits">
            <p>Everything in SAGE</p>
            <div class="benefit">
              <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="Withdrawal Icon" class="benefit-icon">
              <span>4 monthly withdrawals in the exchange</span>
            </div>
            <div class="benefit">
              <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="Subscription Icon" class="benefit-icon">
              <span>Creator Subscription</span>
              <i class="fas fa-info-circle info-icon"></i>
            </div>
            <div class="benefit">
              <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="Character Icon" class="benefit-icon">
              <span>Elite Character in Fierce Guardians Game</span>
              <i class="fas fa-info-circle info-icon" (click)="openCharacterModal('Elite Character in Fierce Guardians Game')"></i>
            </div>
            <div class="benefit">
              <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="Checkmark Icon" class="benefit-icon">
              <span>Creator checkmark</span>
            </div>
          </div>
        </div>
      </div>

      <div class="totem-card alquimista">
        <div class="totem-image">
          <img src="https://ipfs.unbrid.com/landings/rwa/alchemist.webp" alt="Wolf Totem" class="animal-avatar">
        </div>
        <div class="totem-info">
          <h3 class="totem-category alchemist">Alchemist</h3>
          <div class="price">
            <span class="amount">100</span>
            <span class="currency">USDT / month</span>
          </div>
          <div class="participation-power">
            <span class="power-label">Ownership Power</span>
            <div class="power-value">
              <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="Lightning" class="lightning-icon">
              <span class="multiplier">50x</span>
            </div>
          </div>
          <button class="buy-button">MINT NOW</button>
          <div class="earnings-limit">
            <span class="limit-text">INFINITE REWARDS</span>
            <img src="https://ipfs.unbrid.com/landings/rwa/infinity.webp" alt="Infinity" class="infinity-icon">
          </div>
          <div class="benefits">
            <p>Everything in MYSTIC</p>
            <div class="benefit">
              <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="Unlimited Icon" class="benefit-icon">
              <span>5 monthly withdrawals in the exchange</span>
            </div>
            <div class="benefit">
              <img src="https://ipfs.unbrid.com/landings/rwa/power.webp" alt="Character Icon" class="benefit-icon">
              <span>Legend Character in Fierce Guardians Game</span>
              <i class="fas fa-info-circle info-icon" (click)="openCharacterModal('Legend Character in Fierce Guardians Game')"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
