<div class="posts-tabs">
  <button class="posts-tab" [class.active]="activeTab === 'predictions'" (click)="setActiveTab('predictions')">
    My Predictions
  </button>
  <button class="posts-tab" [class.active]="activeTab === 'future'" (click)="setActiveTab('future')">
    Signals
  </button>
</div>

<div class="posts-content">
  <div *ngIf="activeTab === 'predictions'">
    <app-my-predictions></app-my-predictions>
  </div>
  <div *ngIf="activeTab === 'future'">
    <app-signals-container></app-signals-container>
  </div>
</div>