/* You can add global styles to this file, and also import other style files */
@use './styles/variables' as *;

html, body {
  height: 100%;
  background: #111111 !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #111111 !important;
  color: $text-primary;
}
